[submodule "reference/chumsky"]
	path = reference/chumsky
	url = https://github.com/zesterer/chumsky.git
[submodule "reference/dioxus"]
	path = reference/dioxus
	url = https://github.com/DioxusLabs/dioxus.git
[submodule "reference/webkit2gtk"]
	path = reference/webkit2gtk
	url = https://github.com/tauri-apps/webkit2gtk-rs.git
